Repository transkript/ireportcard-client, pull requests merged in 2022-08, with the labels that each got.

#37 feat:changed name of button to 'Save School'
  src/app/components/select-school/select-school.component.html
Labels: good first issue

#48 return 'null' in the readSchoolId instead of '-1'
  src/app/utils/local-storage.util.ts
Labels: rc-utils

#50 Add Change School button to top-menu-component.ts file
  src/app/modules/rc-dashboard/components/top-menu/top-menu.component.ts
Labels: bug

#55 Deleted the school.id from the students.service file line 29
  src/app/services/student.service.ts
Labels: rc-services

#56 38 navbar elements and icon are not visible
  .github/workflows/label.yml
  src/app/modules/rc-dashboard/components/dashboard/dashboard.component.scss
  src/app/modules/rc-dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/rc-dashboard/components/footer/footer.component.ts
  src/app/modules/rc-dashboard/components/top-menu/top-menu.component.scss
  src/app/modules/rc-dashboard/components/top-menu/top-menu.component.ts
  src/assets/scss/dashboard.scss
Labels: enhancement, good first issue, rc-template, ui

#46 Landingpage
  src/app/app-routing.module.ts
  src/app/components/rc-welcome/rc-welcome.component.html
  src/app/components/rc-welcome/rc-welcome.component.ts
  src/app/guards/auth.guard.ts
  src/app/guards/auth/auth-admin.guard.ts
  src/app/guards/auth/auth-student.guard.ts
  src/app/guards/auth/auth-teacher.guard.ts
  src/app/interceptors/http-response.interceptor.ts
  src/app/modules/rc-auth/components/login/login.component.html
  src/app/modules/rc-auth/components/register/register-student/register-student.component.ts
  src/app/modules/rc-auth/components/register/register.component.html
  src/app/modules/rc-auth/components/register/register.component.ts
  src/app/modules/rc-auth/rc-auth-routing.module.ts
  src/app/modules/rc-reusable/components/top-menu/top-menu.component.ts
Labels: enhancement, good first issue, rc-template, rc-auth, rc-guards, rc-interceptors
